body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: #2F3D46;
    color: white;
}

.icon {
    display: inline-block;
    padding: 10px;
    text-align: lest;
    font-size: 50px;
}

.fa-brands {
    justify-content: start;
    align-items: start;
}

/* .gitHeading {
    text-align: center;
} */

.gitHeading {
    display: inline-block;
    font-size: 30px;
    margin-left: 40%;
}

/* .gitHeading {
    position: absolute;
    text-align: center;
    /* position: absolute;
    align-items: center;
    justify-content: center;
} */

.left-box {
    position: relative;
    margin-left: 15px;
    margin-top: 30px;
    background-color: #353535;
    border-radius: 15px;
    width: 250px;
    height: 480px;
}

.search-box {
    background-color: #353535;
    border-radius: 5px;
    margin-left: 28%;
    position: absolute;
    height: 28px;
    width: 450px;
    margin-top: 20px;
}

.center-boxs1 {
    background-color: #353535;
    height: 40px;
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 25%;
}

.center-boxs2 {
    background-color: #353535;
    height: 40px;
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 50%;
}

.center-boxs3 {
    background-color: #353535;
    height: 40px;
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 75%;
}

.bottom-box {
    background-color: #353535;
    border-radius: 15px;
    width: 1015px;
    height: 150px;
    margin-top: 250px;

}